<html>
  <body>
    <h1>Input form</h1>
    <form method="POST" action="/new">
        <formgroup>
            <label for="user">Name:</label>
            <input type="text" id="user" name="user">
        </formgroup>
        <formgroup>  
            <label for="text">Message:</label>
            <input type="text" id="text" name="text">
        </formgroup>
        <button type="submit">Submit</button>
    </form>
  </body>
</html>